@model MyNotesApp.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentFirstName" class="control-label"></label>
                <input asp-for="StudentFirstName" class="form-control" />
                <span asp-validation-for="StudentFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentLasttName" class="control-label"></label>
                <input asp-for="StudentLasttName" class="form-control" />
                <span asp-validation-for="StudentLasttName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                @for (int i = 0; i < Model.SH.Count; i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model.SH[i].Value" />
                        <input type="hidden" asp-for="@Model.SH[i].Text" />
                        <input asp-for="@Model.SH[i].Selected" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model.SH[i].Selected">
                            @Model.SH[i].Text
                        </label>
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

